<br>
<h2><%= book.title %></h2>
<br>
<div>
  <p>Author: <%= book.author.name %></p><br>
  <div  class="book-summary"  style="height: 200px;">
  <p>Summary: <%= book.summary %></p></div><br>
  <p>isbn: <%= book.isbn %></p><br>
</div>
<div>
    <div class="btn-row">
      <a href="/books/<%= book.id %>/edit" class="btn btn-primary">Edit</a>
      <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
    </div><br>
  <div>
    <div class="book-container">
      <div class="book-square">
        <div><%= book.author.name %></div><br>
        <a href="/authors/<%= book.author.id %>">View Author</a>
      </div>
</div>

  </div>
</div>